.formacao__section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.formacao__section__item{
    display: flex;
    flex-direction: column;
    top:0;
    align-items: start;
    width: 30vh;
}