.quem__sou__eu__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;   
    padding: 6% 0 6% 0;
}

.quem__sou__eu__section__item{
    width: 60%;
    align-items: start;
}

p{
    margin-bottom: 0;
}